<div class="colizq">
      <ul>
        <li class="titlista"><strong>SECCIONES</strong></li>
        <li><a href="#/home">Home</a></li>
        <li><a href="#/seccion/economia">Econom&iacute;a</a></li>
        <li><a href="#/seccion/finanzas">Finanzas</a></li>
        <li><a href="#/seccion/impuestas">Impuestos</a></li>
        <li><a href="#/seccion/legales">Legales</a></li>
        <li><a href="#/seccion/negocios">Negocios</a></li>
        <li><a href="#/seccion/tecnologia">Tecnolog&iacute;a</a></li>
        <li><a href="#/seccion/comex">Comex</a></li>
        <li><a href="#/seccion/management">Management</a></li>
        <li><a href="#/seccion/marketing">Marketing</a></li>
      </ul>
    </div>
    <div class="colder">
      <ul>
        <li class="titlista"><strong>SECCIONES ESPECIALES</strong></li>
        <!-- <li><a href="http://www.iprofesional.com/empleos/" target="_blank">Empleos</a></li> -->
        <li><a href="http://autosipro.iprofesional.com" target="_blank">Autos</a></li>
        <li><a href="http://vinosybodegas.iprofesional.com" target="_blank">Vinos</a></li>
        <!-- <li><a href="http://www.iprofesional.com/lifestyle" target="_blank">Life&amp;Style</a></li>
        <li><a href="http://www.iprofesional.com/campus" target="_blank">Campus</a></li>
        <li><a href="http://www.iprofesional.com/realestate" target="_blank">Real Estate</a></li>
        <li><a href="http://www.iprofesional.com/update" target="_blank">Update</a></li>
         --><li><a href="http://iprofesional.bajalibros.com/AR" target="_blank">E-Books</a></li>
      </ul>
    </div>
  </div>
  <div class="redespie">
    <ul>
      <li class="fb"><a href="https://www.facebook.com/iProfesionalcom" target="_blank"></a></li>
      <li class="tw"><a href="https://twitter.com/iProfesional" target="_blank"></a></li>
      <li class="gp"><a href="https://plus.google.com/+iProfesional" target="_blank"></a></li>
      <li class="in"><a href="https://www.linkedin.com/grp/home?gid=750187" target="_blank"></a></li>
    </ul>
  </div>
  <div class="legalespie">  
      <p><a href="http://www.iprofesional.com/secciones/recomendar_portal.php" target="_blank">Recomendar</a> |  <a href="http://www.iprofesional.com/subscribe" target="_blank">Registrarse</a> |  <a href="http://www.iprofesional.com/rss.html" target="_blank">RSS</a> |  <a href="http://www.iprofesional.com/secciones/contactenos.php" target="_blank">Contacto</a> |  <a href="http://publicidad.iprofesional.com/" target="_blank">Publicidad</a></p>
      <p>Copyright © 2015 Emprendimientos Corporativos S.A. <br />
Buenos Aires, Argentina. Todos los derechos reservados. </p>