<ul>
     <li class="fb">
     <a href="http://www.facebook.com/sharer.php?u={{noticia.short_url}}&t={{ noticia.titulo }}" target="popup" onClick="window.open(this.href, this.target, 'width=650,height=400'); return false;"></a>
     </li>
     
     <li class="tw">
     <a href="http://www.twitter.com/home?status={{ noticia.titulo }}: {{noticia.short_url}}" target="popup" onClick="window.open(this.href, this.target, 'width=650,height=400'); return false;"></a>
     </li>
     
     <li class="gp">
     <a href="https://plus.google.com/share?url={{ noticia.short_url }}&t={{ noticia.titulo }}" target="popup" onClick="window.open(this.href, this.target, 'width=650,height=400'); return false;"></a>
     </li>
     
     <li class="in">
     <a href="http://www.linkedin.com/cws/share?url={{ noticia.short_url }}&title={{ noticia.titulo }}" target="popup" onClick="window.open(this.href, this.target, 'width=650,height=400'); return false;"></a>
     </li>
     <li class="wa">
     <a href="whatsapp://send?text={{ noticia.titulo }} {{ noticia.short_url }}" data-action="share/whatsapp/share"></a>
     </li>
     <li class="mail">
     <a href="mailto:ingresar mail?subject=Te recomiendo este art&iacute;culo: {{ noticia.titulo }} &body={{ noticia.titulo }}: {{ noticia.short_url }}" title="Enviar a un amigo" target="_blank"></a>
     </li>
</ul>