<ul>
     <li class="fb">
          <a href="javascript: return;" ng-click="share('facebook')"></a>
     </li>
     
     <li class="tw">
          <a href="javascript: return;" ng-click="share('twitter')"></a>
     </li>
     
     <li class="gp">
          <a href="javascript: return;" ng-click="share('google')"></a>
     </li>
     
     <li class="in">
          <a href="javascript: return;" ng-click="share('linkedin')"></a>
     </li>
     <li class="wa">
          <a href="javascript: return;" ng-click="share('whatsapp')"></a>
     </li>
     <li class="mail">
          <a href="javascript: return;" ng-click="share('email')"></a>
     </li>
</ul>