<div class="lanota" ng-repeat="noticia in content.cabezal.notas | limitTo : 1">

  <div class="imagen">
    <a href="{{ noticia.app_url }}">
      <img src="{{ noticia.adjuntos.imagen_principal.path }}" ng-show="noticia.adjuntos.imagen_principal != false">
      <img src="{{ noticia.adjuntos.imagenes[0].path }}" ng-show="noticia.adjuntos.imagen_principal == false && noticia.adjuntos.imagenes != false">
    </a>
  </div>
  <div class="textos">
    <div class="volanta" ng-if="!noticia.chapita">{{ noticia.seccion }}</div>
    <div class="volanta" ng-if="noticia.chapita">{{ noticia.chapita }}</div>
    <div class="titulo">
      <h1>
        <a href="{{ noticia.app_url }}" ng-if="noticia.titulo_home">{{ noticia.titulo_home }}</a>
        <a href="{{ noticia.app_url }}" ng-if="!noticia.titulo_home">{{ noticia.titulo }}</a>
      </h1>
    </div>
  </div>
</div>