<div class="{{ objeto.class }}">
  <div class="imagen">
    <a href="{{ objeto.noticias.app_url }}">
      <img src="{{ objeto.noticias.adjuntos.imagen_principal.path }}" ng-show="objeto.noticias.adjuntos.imagen_principal != false">
      <img src="{{ objeto.noticias.adjuntos.imagenes[0].path }}" ng-show="objeto.noticias.adjuntos.imagen_principal == false && objeto.noticias.adjuntos.imagenes != false">
    </a>
  </div>
  <div class="textos">
    <div class="volanta volantaverde">
      {{ objeto.noticias.seccion }}
    </div>
    <div class="titulo">
      <h2>
        <a href="{{ objeto.noticias.app_url }}">
          {{ objeto.noticias.titulo }}
        </a>
      </h2>
    </div>
  </div>
</div>