<div class="objetovertical objetorecreo">
  	<div class="cabezalrecreo"></div>
    <div class="lineanotas" ng-repeat="index in [0, 2]">
      <div class="notaizq">
        <div class="imagen">
          <a href="#/nota/{{ fila.noticias[index].id }}/{{ fila.noticias[index].titulo_seo }}">
            <img src="{{ fila.noticias[index].adjuntos.imagen_principal.path }}">
          </a>
        </div>
        <div class="textos">
          <div class="volantarecreo">{{ fila.noticias[index].seccion }}</div>
          <div class="titulo">
            <h2>
              <a href="#/nota/{{ fila.noticias[index].id }}/{{ fila.noticias[index].titulo_seo }}">{{ fila.noticias[index].titulo }}</a></h2>
          </div>
        </div>
      </div>
      <div class="notader">
        <div class="imagen">
          <a href="#/nota/{{ fila.noticias[index+1].id }}/{{ fila.noticias[index+1].titulo_seo }}">
            <img src="{{ fila.noticias[index+1].adjuntos.imagen_principal.path }}">
          </a>
        </div>
        <div class="textos">
          <div class="volantarecreo">{{ fila.noticias[index+1].seccion }}</div>
          <div class="titulo">
            <h2>
              <a href="#/nota/{{ fila.noticias[index+1].id }}/{{ fila.noticias[index+1].titulo_seo }}">{{ fila.noticias[index+1].titulo }}</a></h2>
          </div>
        </div>
      </div>
  </div>
</div>