<div class="cabezalzoom"></div> 

<div class="notazoom swiper-wrapper">
  <div class="notascolumna swiper-slide" ng-repeat="index in [1,3,5,7,9]"
    ng-show="zoom[index-1] || zoom[index]">
    <div class="textos" ng-show="zoom[index-1]">
      <div class="volanta">
        <div class="tema"><span>{{ zoom[index-1].publicacion * 1000 | date : 'HH:mm' }}</span>
        {{ zoom[index-1].seccion }}</div>
      </div>
      <div class="titulo">
        <h2>
          <a href="{{ zoom[index-1].app_url }}">
          {{ zoom[index-1].titulo }}
          </a>
        </h2>
      </div>
    </div>                    
    <div class="textos" ng-show="zoom[index]">
      <div class="volanta">
        <div class="tema"><span>{{ zoom[index].publicacion * 1000 | date : 'HH:mm' }}</span> 
        {{ zoom[index].seccion }}</div>
      </div>
      <div class="titulo">
        <h2>
          <a href="{{ zoom[index].app_url }}">{{ zoom[index].titulo }}</a>
        </h2>
      </div>
    </div>           
  </div>
</div>

<!-- Paginacion -->
<div class="swiper-pagination"></div>