<div class="notasdobles">
    <objeto ng-repeat="objeto in fila.notas_dobles" info="objeto"></objeto>
</div>
<div class="notaswide">
	<div class="lanota" ng-repeat="noticia in fila.noticias">
		<div class="imagen">
			<a href="#/nota/{{ noticia.id }}/{{ noticia.titulo_seo }}">
				<img src="{{ noticia.adjuntos.imagen_principal.path }}" ng-show="noticia.adjuntos.imagen_principal != false">
      <img src="{{ noticia.adjuntos.imagenes[0].path }}" ng-show="noticia.adjuntos.imagen_principal == false && noticia.adjuntos.imagenes != false">
			</a>
		</div>
        <div class="textos">
          	<div class="volanta">
            	<div class="tema">{{ noticia.seccion }}</div>
            	<div class="hora">{{ noticia.publicacion * 1000 | date : 'HH:mm' }}hs</div>
          	</div>
          	<div class="titulo">
            	<h2>
            		<a href="#/nota/{{ noticia.id }}/{{ noticia.titulo_seo }}" ng-show="noticia.titulo_home">{{ noticia.titulo_home }}</a>
            		<a href="#/nota/{{ noticia.id }}/{{ noticia.titulo_seo }}" ng-hide="noticia.titulo_home">{{ noticia.titulo }}</a>
        		</h2>
          	</div>
    	</div>
    </div>
</div>

<div class="objetozoomhome swiper-container" ng-show="row == 5" ng-include="'views/especiales/zoom.html'"></div>