<div class="cabezalmenu" ng-include="'views/common/cabezal_menu.html'"></div>

<div class="notaprincipal" ng-include="'views/objetos/nota_principal.html'" ng-show="content"></div>

<div class="divisas" ng-include="'views/divisas.html'" ng-show="content"></div>

<iframe id="banner01" class="bannerwide" src="views/banners/home/banner_01.html" onload="setIframeHeight(this.id)"></iframe>

<div class="notaswide" ng-if="content.cabezal.notas[2]">
	<div ng-repeat="noticia in content.cabezal.notas" ng-if="2 <= $index" 
		ng-include="'views/objetos/noticia_simple.html'"></div>
</div>

<rowcontainer ng-repeat="(key, item) in content.filas" info="item" row="key" template="'home'" ng-show="content"></rowcontainer>